<div class="profile-wrap">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 d-flex justify-content-center p-5">
          <img [src]="profile?.avatar" alt="stack photo" class="img-fluid">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container" style="border-bottom:1px solid black">
            <h2>{{ profile?.sonidero_name }}</h2>
          </div>
          <hr>
          <ul class="container details">
            <li>
              <!-- <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p> -->
            </li>
            <li>
              <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ profile?.email }}</p>
            </li>
            <li>
              <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Member since
                {{ profile?.createdAt | datestring }}</p>
            </li>
            <li>
              <!-- <p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span>www.example.com</p> -->
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-collapse>
            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active"
              [nzDisabled]="panel.disabled">
              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 ">
                  Album name super long title
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8">
                  description here Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, veritatis voluptate mollitia dolore error id maxime eaque temporibus ipsa eum iure. Ullam a recusandae sequi ipsa deserunt cumque illum voluptas!
                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div>
    </div>
  </div>
</div>
