<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-login">
        <h4>Welcome back.</h4>
        <input type="text" id="email" name="email" class="form-control input-sm chat-input my-2" placeholder="Email"/>
        <input type="text" id="userPassword" name="password" class="form-control input-sm chat-input my-2" placeholder="password" type="password"/>
        <input type="text" id="sonideroName" name="business-name" class="form-control input-sm chat-input my-2" placeholder="Nombre de DJ"/>
        <div class="wrapper">
          <span class="group-btn">
            <div class="btn btn-primary btn-md">Register</div>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
